.search-box {
  background-color: #ffd369;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  input {
    background-color: #eeeeee;
    border: 1px solid #e0ad34;
    border-radius: 10px;
    width: 65%;
    padding: 15px;

    &:active,
    &:focus {
      outline: none;
    }
  }
}
